#cloud-config
autoinstall:
  version: 1
  keyboard:
    layout: us
  identity:
    hostname: ubuntu-server
    password: "$y$j9T$qiKEYsg5oLCDV.XxExdEB/$41TEJJWV7he/aTyHQEDAWJyfKceDtCYVk.Agh9aAvk3"
    username: swe
  ssh:
    allow-pw: true
    install-server: true
